*{
    box-sizing: border-box;
}

.current {
    display: block;
}

body,html{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.homepage{
    display: block;
}

.carousel{
    height: 760px;
    width: 100%;
    padding-top: 40px;
    margin: 0 auto;
    overflow: hidden;
    z-index: 1;
}

.carousel-area{
    height: 600px;
    width: 600px;
    margin-left: 27%;
    margin-right: 20%;
    z-index: 1;
    display: inline-block;
    font-size: 0;
    cursor: pointer;
}

.carousel-controler{
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: center;
    top: 35%;
    border-radius: 28px;
    width: 44px;
    height: 44px;
    color: #3da8f5;
    background-color: white;
    box-shadow: 0 6px 16px 0 rgba(0,0,0,0.1);
    transition: box-shadow 0.3s;
    cursor: pointer;
    border: none;
    outline:none;
}

.left-control{
    left: 15%;
    z-index:1;
}

.right-control{
    right: 15%;
    z-index:1;
}

.square{
    background-image: url("img/nature0.jpg");
    width: 10%;
    height: 10%;
    display: inline-block;
    padding: 0;
    margin: 0;
    border: none;
}

.carousel-rec {
    height: 800px;
    width: 100%;
    padding-top: 100px;
    margin: 0 auto;
    overflow: hidden;
    z-index: 1;
}

.carousel-area-rec {
    height: 600px;
    width: 600px;
    margin-left: 27%;
    margin-right: 20%;
    z-index: 1;
    display: inline-block;
    font-size: 0;
}

.carousel-controler-rec {
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: center;
    top: 95%;
    border-radius: 28px;
    width: 44px;
    height: 44px;
    color: #3da8f5;
    background-color: white;
    box-shadow: 0 6px 16px 0 rgba(0,0,0,0.1);
    transition: box-shadow 0.3s;
    cursor: pointer;
    border: none;
    outline:none;
}

.square-rec {
    background-image: url("img/nature0.jpg");
    width: 10%;
    height: 10%;
    display: inline-block;
    padding: 0;
    margin: 0;
    border: none;
}


.left-control-rec {
    left: 15%;
    z-index:1;
}

.right-control-rec {
    right: 15%;
    z-index:1;
}
